@model KoK_Source.Models.HomeModel

<div class="header_bot container" style="padding-left:0px">
   @Html.Partial("~/Views/Shared/_slider.cshtml")
</div>
<!---------ads_1--------------->
    <section class="ads_1">
        <div class="ads_1-left"><a href=""><img src="/Content/_Template/img/banner_ngang.jpg" alt="" /></a></div>
        <div class="ads_1-right"><a href=""><img src="/Content/_Template/img/banner_ngang.jpg" alt="" /></a></div>
    </section>
    <!---------ads_1--------------->
    <section class="contents">
        <div class="contents_left contents_lefts">
            @Html.Partial("_contentProducts", Model.ListProducts)
        </div>
        <div class="contents_right">
            @Html.Partial("_sidebarTinTuc",Model.ListNews)
        </div>
    </section>