USE [master]
GO
/****** Object:  Database [KOK_DATA]    Script Date: 06/09/2016 20:24:59 ******/
CREATE DATABASE [KOK_DATA]
 GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KOK_DATA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KOK_DATA]
GO
/****** Object:  Table [dbo].[GROUP_MENU]    Script Date: 06/09/2016 20:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP_MENU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GROUP_ID] [int] NULL,
	[MENU_ID] [int] NULL,
	[ACTIVE] [bit] NULL DEFAULT ((1)),
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[CREATE_USER] [nvarchar](400) NULL,
	[UPDATE_USER] [nvarchar](400) NULL,
 CONSTRAINT [PK_GROUP_MENU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KOK_ACCOUNT]    Script Date: 06/09/2016 20:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KOK_ACCOUNT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[UserPass] [nvarchar](500) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[ACTIVE] [bit] NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[CREATE_USER] [nvarchar](50) NULL,
	[UPDATE_USER] [nvarchar](50) NULL,
 CONSTRAINT [PK_KOK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KOK_BANNER]    Script Date: 06/09/2016 20:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KOK_BANNER](
	[BANNER_ID] [int] IDENTITY(1,1) NOT NULL,
	[BANNER_DESC] [nvarchar](400) NULL,
	[BANNER_FILE] [nvarchar](1000) NULL,
	[BANNER_LANGUAGE] [int] NULL,
	[BANNER_ORDER] [int] NULL,
	[BANNER_PUBLISHDATE] [datetime] NULL,
	[BANNER_TYPE] [int] NULL,
	[BANNER_WIDTH] [int] NULL,
	[BANNER_HEIGHT] [int] NULL,
	[BANNER_FIELD1] [nvarchar](400) NULL,
	[BANNER_FIELD2] [nvarchar](400) NULL,
	[BANNER_FIELD3] [nvarchar](400) NULL,
	[BANNER_FIELD4] [nvarchar](400) NULL,
	[BANNER_FIELD5] [nvarchar](400) NULL,
	[ACTIVE] [bit] NOT NULL DEFAULT ((1)),
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[CREATE_USER] [nvarchar](400) NULL,
	[UPDATE_USER] [nvarchar](400) NULL,
	[BANNER_NAME] [nvarchar](500) NULL,
 CONSTRAINT [PK_KOK_BANNER] PRIMARY KEY CLUSTERED 
(
	[BANNER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KOK_CATEGORIES]    Script Date: 06/09/2016 20:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KOK_CATEGORIES](
	[CAT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CAT_CODE] [nvarchar](50) NULL,
	[CAT_NAME] [nvarchar](400) NULL,
	[CAT_DESC] [nvarchar](4000) NULL,
	[CAT_URL] [nvarchar](4000) NULL,
	[CAT_TARGET] [nvarchar](50) NULL,
	[CAT_STATUS] [int] NULL,
	[CAT_ACCESS] [int] NULL,
	[CAT_POSITION] [int] NULL,
	[CAT_SHOWFOOTER] [int] NULL,
	[CAT_ORDER] [int] NULL,
	[CAT_PARENT_ID] [int] NULL CONSTRAINT [DF_KOK_CATEGORIES_CAT_PARENT_ID]  DEFAULT ((0)),
	[CAT_PARENT_PATH] [varchar](400) NULL,
	[CAT_RANK] [int] NULL,
	[CAT_ROWITEM] [int] NULL,
	[CAT_PAGEITEM] [int] NULL,
	[CAT_SHOWITEM] [int] NULL,
	[CAT_PERIOD] [int] NULL,
	[CAT_PERIOD_ORDER] [int] NULL,
	[CAT_TYPE] [int] NULL,
	[CAT_LANGUAGE] [int] NULL,
	[CAT_COUNT] [int] NULL CONSTRAINT [DF_KOK_CATEGORIES_CAT_COUNT]  DEFAULT ((0)),
	[CAT_SEO_TITLE] [nvarchar](400) NULL,
	[CAT_SEO_DESC] [nvarchar](4000) NULL,
	[CAT_SEO_KEYWORD] [nvarchar](4000) NULL,
	[CAT_SEO_URL] [nvarchar](4000) NULL,
	[CAT_IMAGE1] [nvarchar](400) NULL,
	[CAT_IMAGE2] [nvarchar](400) NULL,
	[CAT_HISTORY] [nvarchar](1000) NULL,
	[CAT_FIELD1] [nvarchar](400) NULL,
	[CAT_FIELD2] [nvarchar](400) NULL,
	[CAT_FIELD3] [nvarchar](400) NULL,
	[CAT_FIELD4] [nvarchar](400) NULL,
	[CAT_FIELD5] [nvarchar](400) NULL,
	[CAT_CODE_EN] [nvarchar](50) NULL,
	[CAT_NAME_EN] [nvarchar](400) NULL,
	[CAT_DESC_EN] [nvarchar](4000) NULL,
	[CAT_SEO_TITLE_EN] [nvarchar](400) NULL,
	[CAT_SEO_DESC_EN] [nvarchar](4000) NULL,
	[CAT_SEO_KEYWORD_EN] [nvarchar](4000) NULL,
	[CAT_SEO_URL_EN] [nvarchar](4000) NULL,
	[CAT_IMAGE3] [nvarchar](400) NULL,
	[ACTIVE] [bit] NULL DEFAULT ((1)),
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[CREATE_USER] [nvarchar](400) NULL,
	[UPDATE_USER] [nvarchar](400) NULL,
 CONSTRAINT [PK_KOK_CATEGORIES] PRIMARY KEY CLUSTERED 
(
	[CAT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KOK_CONFIG]    Script Date: 06/09/2016 20:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KOK_CONFIG](
	[CONFIG_ID] [int] IDENTITY(1,1) NOT NULL,
	[CONFIG_TITLE] [nvarchar](1000) NULL,
	[CONFIG_KEYWORD] [nvarchar](4000) NULL,
	[CONFIG_DESCRIPTION] [nvarchar](4000) NULL,
	[CONFIG_HITCOUNTER] [int] NULL,
	[CONFIG_FAVICON] [nvarchar](400) NULL,
	[CONFIG_ORDER] [int] NULL,
	[CONFIG_LANGUAGE] [int] NULL,
	[CONFIG_FIELD1] [nvarchar](400) NULL,
	[CONFIG_FIELD2] [nvarchar](400) NULL,
	[CONFIG_FIELD3] [nvarchar](400) NULL,
	[CONFIG_FIELD4] [nvarchar](400) NULL,
	[CONFIG_FIELD5] [nvarchar](400) NULL,
	[CONFIG_TITLE_EN] [nvarchar](1000) NULL,
	[CONFIG_KEYWORD_EN] [nvarchar](4000) NULL,
	[CONFIG_DESCRIPTION_EN] [nvarchar](4000) NULL,
	[ACTIVE] [bit] NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[CREATE_USER] [nvarchar](400) NULL,
	[UPDATE_USER] [nvarchar](400) NULL,
 CONSTRAINT [PK_KOK_CONFIG] PRIMARY KEY CLUSTERED 
(
	[CONFIG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KOK_EMAIL]    Script Date: 06/09/2016 20:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KOK_EMAIL](
	[EMAIL_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMAIL_STT] [int] NULL,
	[EMAIL_DESC] [nvarchar](255) NULL,
	[EMAIL_FROM] [nvarchar](255) NULL,
	[EMAIL_TO] [nvarchar](255) NULL,
	[EMAIL_CC] [nvarchar](255) NULL,
	[EMAIL_BCC] [nvarchar](255) NULL,
	[ACTIVE] [bit] NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[CREATE_USER] [nvarchar](400) NULL,
	[UPDATE_USER] [nvarchar](400) NULL,
 CONSTRAINT [PK_KOK_EMAIL] PRIMARY KEY CLUSTERED 
(
	[EMAIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KOK_GROUP]    Script Date: 06/09/2016 20:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KOK_GROUP](
	[GROUP_ID] [int] IDENTITY(1,1) NOT NULL,
	[GROUP_CODE] [nvarchar](50) NULL,
	[GROUP_NAME] [nvarchar](400) NULL,
	[GROUP_TYPE] [int] NULL,
	[ACTIVE] [bit] NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[CREATE_USER] [nvarchar](400) NULL,
	[UPDATE_USER] [nvarchar](400) NULL,
 CONSTRAINT [PK_KOK_GROUPS] PRIMARY KEY CLUSTERED 
(
	[GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KOK_NEWS]    Script Date: 06/09/2016 20:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KOK_NEWS](
	[NEWS_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[NEWS_CODE] [nvarchar](100) NULL,
	[NEWS_TITLE] [nvarchar](300) NULL,
	[NEWS_DESC] [nvarchar](500) NULL,
	[NEWS_SEO_KEYWORD] [nvarchar](700) NULL,
	[NEWS_SEO_DESC] [nvarchar](500) NULL,
	[NEWS_SEO_URL] [nvarchar](250) NULL,
	[NEWS_SEO_TITLE] [nvarchar](500) NULL,
	[NEWS_FILEHTML] [nvarchar](200) NULL,
	[NEWS_PUBLISHDATE] [datetime] NULL,
	[NEWS_UPDATE] [datetime] NULL CONSTRAINT [DF_KOK_NEWS_NEWS_UPDATE]  DEFAULT (getdate()),
	[NEWS_URL] [nvarchar](400) NULL,
	[NEWS_TARGET] [nvarchar](50) NULL,
	[NEWS_SHOWTYPE] [int] NULL,
	[NEWS_SHOWINDETAIL] [int] NULL,
	[NEWS_FEEDBACKTYPE] [int] NULL,
	[NEWS_TYPE] [int] NULL,
	[NEWS_LANGUAGE] [int] NULL,
	[NEWS_PRINTTYPE] [int] NULL,
	[NEWS_COUNT] [int] NULL,
	[NEWS_PERIOD] [int] NULL,
	[NEWS_ORDER_PERIOD] [int] NULL,
	[NEWS_ORDER] [int] NULL,
	[NEWS_IMAGE1] [nvarchar](400) NULL,
	[NEWS_IMAGE2] [nvarchar](400) NULL,
	[NEWS_IMAGE3] [nvarchar](400) NULL,
	[NEWS_IMAGE4] [nvarchar](400) NULL,
	[NEWS_IMAGE5] [nvarchar](400) NULL,
	[NEWS_FIELD1] [nvarchar](400) NULL,
	[NEWS_FIELD2] [nvarchar](4000) NULL,
	[NEWS_FIELD3] [nvarchar](400) NULL,
	[NEWS_FIELD4] [nvarchar](400) NULL,
	[NEWS_FIELD5] [nvarchar](400) NULL,
	[NEWS_SENDEMAIL] [int] NULL,
	[NEWS_SENDDATE] [datetime] NULL,
	[NEWS_PRICE1] [money] NULL,
	[NEWS_PRICE2] [money] NULL,
	[NEWS_PRICE3] [money] NULL,
	[UNIT_ID1] [int] NULL,
	[UNIT_ID2] [int] NULL,
	[UNIT_ID3] [int] NULL,
	[NEWS_PACKAGE] [nvarchar](200) NULL,
	[NEWS_KEYWORD_ASCII] [varchar](4000) NULL,
	[NEWS_VIDEO_URL] [nvarchar](250) NULL,
	[ACTIVE] [bit] NULL DEFAULT ((1)),
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[CREATE_USER] [nvarchar](400) NULL,
	[UPDATE_USER] [nvarchar](400) NULL,
	[POST_HTML] [nvarchar](max) NULL,
	[ANH] [nvarchar](max) NULL,
 CONSTRAINT [PK_KOK_NEWS_1] PRIMARY KEY CLUSTERED 
(
	[NEWS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KOK_NEWS_ATT]    Script Date: 06/09/2016 20:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KOK_NEWS_ATT](
	[NEWS_ATT_ID] [int] IDENTITY(1,1) NOT NULL,
	[NEWS_ATT_NAME] [nvarchar](100) NULL,
	[NEWS_ATT_FILE] [nvarchar](1000) NULL,
	[NEWS_ATT_URL] [nvarchar](1000) NULL,
	[NEWS_ATT_ORDER] [int] NULL,
	[EXT_ID] [int] NULL,
	[NEWS_ID] [int] NULL,
	[NEWS_ATT_FIELD1] [nvarchar](400) NULL,
	[NEWS_ATT_FIELD2] [nvarchar](400) NULL,
	[NEWS_ATT_FIELD3] [nvarchar](400) NULL,
	[NEWS_ATT_FIELD4] [nvarchar](400) NULL,
	[NEWS_ATT_FIELD5] [nvarchar](400) NULL,
	[ACTIVE] [bit] NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[CREATE_USER] [nvarchar](400) NULL,
	[UPDATE_USER] [nvarchar](400) NULL,
 CONSTRAINT [PK_KOK_NEWS_ATT] PRIMARY KEY CLUSTERED 
(
	[NEWS_ATT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KOK_NEWS_CAT]    Script Date: 06/09/2016 20:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KOK_NEWS_CAT](
	[NEWS_CAT_ID] [int] IDENTITY(1,1) NOT NULL,
	[NEWS_ID] [int] NULL,
	[CAT_ID] [int] NULL,
	[ACTIVE] [bit] NULL DEFAULT ((1)),
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[CREATE_USER] [nvarchar](400) NULL,
	[UPDATE_USER] [nvarchar](400) NULL,
 CONSTRAINT [PK_KOK_NEWS_CAT] PRIMARY KEY CLUSTERED 
(
	[NEWS_CAT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KOK_NEWS_IMAGE]    Script Date: 06/09/2016 20:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KOK_NEWS_IMAGE](
	[NEWS_IMG_ID] [int] IDENTITY(1,1) NOT NULL,
	[NEWS_IMG_IMAGE1] [nvarchar](400) NULL,
	[NEWS_IMG_IMAGE2] [nvarchar](400) NULL,
	[NEWS_IMG_IMAGE3] [nvarchar](400) NULL,
	[NEWS_IMG_DESC] [nvarchar](400) NULL,
	[NEWS_IMG_ORDER] [int] NULL,
	[NEWS_IMG_SHOWTYPE] [int] NULL,
	[NEWS_ID] [int] NULL,
	[ACTIVE] [bit] NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[CREATE_USER] [nvarchar](400) NULL,
	[UPDATE_USER] [nvarchar](400) NULL,
 CONSTRAINT [PK_SHOPASP_PRO_IMAGE] PRIMARY KEY CLUSTERED 
(
	[NEWS_IMG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KOK_PRODUCTS]    Script Date: 06/09/2016 20:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KOK_PRODUCTS](
	[NEWS_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[NEWS_CODE] [nvarchar](100) NULL,
	[NEWS_TITLE] [nvarchar](300) NULL,
	[NEWS_DESC] [nvarchar](500) NULL,
	[NEWS_SEO_KEYWORD] [nvarchar](700) NULL,
	[NEWS_SEO_DESC] [nvarchar](500) NULL,
	[NEWS_SEO_URL] [nvarchar](250) NULL,
	[NEWS_SEO_TITLE] [nvarchar](500) NULL,
	[NEWS_FILEHTML] [nvarchar](200) NULL,
	[NEWS_PUBLISHDATE] [datetime] NULL,
	[NEWS_URL] [nvarchar](400) NULL,
	[NEWS_TARGET] [nvarchar](50) NULL,
	[NEWS_SHOWTYPE] [int] NULL,
	[NEWS_SHOWINDETAIL] [int] NULL,
	[NEWS_FEEDBACKTYPE] [int] NULL,
	[NEWS_TYPE] [int] NULL,
	[NEWS_LANGUAGE] [int] NULL,
	[NEWS_PRINTTYPE] [int] NULL,
	[NEWS_COUNT] [int] NULL,
	[NEWS_PERIOD] [int] NULL,
	[NEWS_ORDER_PERIOD] [int] NULL,
	[NEWS_ORDER] [int] NULL,
	[NEWS_IMAGE1] [nvarchar](400) NULL,
	[NEWS_IMAGE2] [nvarchar](400) NULL,
	[NEWS_IMAGE3] [nvarchar](400) NULL,
	[NEWS_IMAGE4] [nvarchar](400) NULL,
	[NEWS_IMAGE5] [nvarchar](400) NULL,
	[NEWS_FIELD1] [nvarchar](400) NULL,
	[NEWS_FIELD2] [nvarchar](4000) NULL,
	[NEWS_FIELD3] [nvarchar](400) NULL,
	[NEWS_FIELD4] [nvarchar](400) NULL,
	[NEWS_FIELD5] [nvarchar](400) NULL,
	[NEWS_SENDEMAIL] [int] NULL,
	[NEWS_SENDDATE] [datetime] NULL,
	[NEWS_PRICE1] [money] NULL,
	[NEWS_PRICE2] [money] NULL,
	[NEWS_PRICE3] [money] NULL,
	[UNIT_ID1] [int] NULL,
	[UNIT_ID2] [int] NULL,
	[UNIT_ID3] [int] NULL,
	[NEWS_PACKAGE] [nvarchar](200) NULL,
	[NEWS_KEYWORD_ASCII] [varchar](4000) NULL,
	[NEWS_VIDEO_URL] [nvarchar](250) NULL,
	[ACTIVE] [bit] NULL DEFAULT ((1)),
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[CREATE_USER] [nvarchar](400) NULL,
	[UPDATE_USER] [nvarchar](400) NULL,
	[POST_HTML] [nvarchar](max) NULL,
	[GIA] [float] NULL,
	[THANH_PHAN] [nvarchar](200) NULL,
	[BAO_QUAN] [nvarchar](200) NULL,
	[NOTE] [nvarchar](200) NULL,
	[ANH] [nvarchar](max) NULL,
	[LIST_ANH] [nvarchar](max) NULL,
 CONSTRAINT [PK_KOK_PRODUCTS_1] PRIMARY KEY CLUSTERED 
(
	[NEWS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MENU]    Script Date: 06/09/2016 20:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MENU_NAME] [nvarchar](250) NULL,
	[MENU_LINK] [nvarchar](550) NULL,
	[MENU_RANK] [int] NULL,
	[MENU_PARENT_ID] [int] NULL,
	[MENU_ORDER] [int] NULL,
	[ACTIVE] [bit] NULL DEFAULT ((1)),
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[CREATE_USER] [nvarchar](400) NULL,
	[UPDATE_USER] [nvarchar](400) NULL,
 CONSTRAINT [PK_MENU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[GROUP_MENU] ON 

INSERT [dbo].[GROUP_MENU] ([ID], [GROUP_ID], [MENU_ID], [ACTIVE], [CREATE_DATE], [UPDATE_DATE], [CREATE_USER], [UPDATE_USER]) VALUES (1, 1, 1, 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[GROUP_MENU] OFF
SET IDENTITY_INSERT [dbo].[KOK_ACCOUNT] ON 

INSERT [dbo].[KOK_ACCOUNT] ([ID], [UserName], [UserPass], [FirstName], [LastName], [ACTIVE], [CREATE_DATE], [UPDATE_DATE], [CREATE_USER], [UPDATE_USER]) VALUES (1, N'Hoang', N'7C4A8D09CA3762AF61E59520943DC26494F8941B', N'hoang', N'huy', 1, NULL, CAST(N'2016-09-04 21:00:12.063' AS DateTime), NULL, N'addmin')
INSERT [dbo].[KOK_ACCOUNT] ([ID], [UserName], [UserPass], [FirstName], [LastName], [ACTIVE], [CREATE_DATE], [UPDATE_DATE], [CREATE_USER], [UPDATE_USER]) VALUES (2, N'admin', N'D033E22AE348AEB5660FC2140AEC35850C4DA997', N'admin', N'admin', 1, CAST(N'2016-09-06 17:35:58.590' AS DateTime), NULL, N'addmin', NULL)
SET IDENTITY_INSERT [dbo].[KOK_ACCOUNT] OFF
SET IDENTITY_INSERT [dbo].[KOK_BANNER] ON 

INSERT [dbo].[KOK_BANNER] ([BANNER_ID], [BANNER_DESC], [BANNER_FILE], [BANNER_LANGUAGE], [BANNER_ORDER], [BANNER_PUBLISHDATE], [BANNER_TYPE], [BANNER_WIDTH], [BANNER_HEIGHT], [BANNER_FIELD1], [BANNER_FIELD2], [BANNER_FIELD3], [BANNER_FIELD4], [BANNER_FIELD5], [ACTIVE], [CREATE_DATE], [UPDATE_DATE], [CREATE_USER], [UPDATE_USER], [BANNER_NAME]) VALUES (58, N'75528', N'~/data/img/gallery/muaSG.jpg', NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, CAST(N'2016-09-06 00:46:47.037' AS DateTime), CAST(N'2016-09-06 00:46:47.037' AS DateTime), NULL, NULL, N'muaSG.jpg')
INSERT [dbo].[KOK_BANNER] ([BANNER_ID], [BANNER_DESC], [BANNER_FILE], [BANNER_LANGUAGE], [BANNER_ORDER], [BANNER_PUBLISHDATE], [BANNER_TYPE], [BANNER_WIDTH], [BANNER_HEIGHT], [BANNER_FIELD1], [BANNER_FIELD2], [BANNER_FIELD3], [BANNER_FIELD4], [BANNER_FIELD5], [ACTIVE], [CREATE_DATE], [UPDATE_DATE], [CREATE_USER], [UPDATE_USER], [BANNER_NAME]) VALUES (61, N'103135', N'~/data/img/gallery/vesi.jpg', NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, CAST(N'2016-09-06 01:44:22.473' AS DateTime), CAST(N'2016-09-06 01:44:22.473' AS DateTime), NULL, NULL, N'vesi.jpg')
SET IDENTITY_INSERT [dbo].[KOK_BANNER] OFF
SET IDENTITY_INSERT [dbo].[KOK_CATEGORIES] ON 

SET IDENTITY_INSERT [dbo].[KOK_CATEGORIES] OFF
SET IDENTITY_INSERT [dbo].[KOK_NEWS] ON 

SET IDENTITY_INSERT [dbo].[KOK_NEWS] OFF
SET IDENTITY_INSERT [dbo].[KOK_NEWS_CAT] ON 

INSERT [dbo].[KOK_NEWS_CAT] ([NEWS_CAT_ID], [NEWS_ID], [CAT_ID], [ACTIVE], [CREATE_DATE], [UPDATE_DATE], [CREATE_USER], [UPDATE_USER]) VALUES (73, 11, 2, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[KOK_NEWS_CAT] ([NEWS_CAT_ID], [NEWS_ID], [CAT_ID], [ACTIVE], [CREATE_DATE], [UPDATE_DATE], [CREATE_USER], [UPDATE_USER]) VALUES (74, 8, 2, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[KOK_NEWS_CAT] ([NEWS_CAT_ID], [NEWS_ID], [CAT_ID], [ACTIVE], [CREATE_DATE], [UPDATE_DATE], [CREATE_USER], [UPDATE_USER]) VALUES (75, 6, 2, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[KOK_NEWS_CAT] OFF
SET IDENTITY_INSERT [dbo].[KOK_PRODUCTS] ON 

SET IDENTITY_INSERT [dbo].[KOK_PRODUCTS] OFF
SET IDENTITY_INSERT [dbo].[MENU] ON 

INSERT [dbo].[MENU] ([ID], [MENU_NAME], [MENU_LINK], [MENU_RANK], [MENU_PARENT_ID], [MENU_ORDER], [ACTIVE], [CREATE_DATE], [UPDATE_DATE], [CREATE_USER], [UPDATE_USER]) VALUES (1, N'Chuyên mục', N'category_list.aspx', 1, 0, 99, 1, CAST(N'1994-01-01 00:00:00.000' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[MENU] ([ID], [MENU_NAME], [MENU_LINK], [MENU_RANK], [MENU_PARENT_ID], [MENU_ORDER], [ACTIVE], [CREATE_DATE], [UPDATE_DATE], [CREATE_USER], [UPDATE_USER]) VALUES (2, N'Sản phẩm', N'news_list.aspx?type=1', 1, 0, 98, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[MENU] ([ID], [MENU_NAME], [MENU_LINK], [MENU_RANK], [MENU_PARENT_ID], [MENU_ORDER], [ACTIVE], [CREATE_DATE], [UPDATE_DATE], [CREATE_USER], [UPDATE_USER]) VALUES (3, N'Danh sách sản phẩm', N'news_list.aspx?type=1', 2, 2, 1, 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[MENU] OFF
ALTER TABLE [dbo].[KOK_CONFIG] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[KOK_EMAIL] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[KOK_GROUP] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[KOK_NEWS_ATT] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[KOK_NEWS_IMAGE] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[KOK_NEWS_ATT]  WITH CHECK ADD  CONSTRAINT [FK_KOK_NEWS_ATT_KOK_NEWS] FOREIGN KEY([NEWS_ID])
REFERENCES [dbo].[KOK_NEWS] ([NEWS_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KOK_NEWS_ATT] CHECK CONSTRAINT [FK_KOK_NEWS_ATT_KOK_NEWS]
GO
ALTER TABLE [dbo].[KOK_NEWS_CAT]  WITH CHECK ADD  CONSTRAINT [FK_KOK_NEWS_CAT_KOK_CATEGORIES] FOREIGN KEY([CAT_ID])
REFERENCES [dbo].[KOK_CATEGORIES] ([CAT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KOK_NEWS_CAT] CHECK CONSTRAINT [FK_KOK_NEWS_CAT_KOK_CATEGORIES]
GO
ALTER TABLE [dbo].[KOK_NEWS_CAT]  WITH CHECK ADD  CONSTRAINT [FK_KOK_NEWS_CAT_KOK_PRODUCTS] FOREIGN KEY([NEWS_ID])
REFERENCES [dbo].[KOK_PRODUCTS] ([NEWS_ID])
GO
ALTER TABLE [dbo].[KOK_NEWS_CAT] CHECK CONSTRAINT [FK_KOK_NEWS_CAT_KOK_PRODUCTS]
GO
ALTER TABLE [dbo].[KOK_NEWS_IMAGE]  WITH CHECK ADD  CONSTRAINT [FK_KOK_NEWS_IMAGE_KOK_NEWS] FOREIGN KEY([NEWS_ID])
REFERENCES [dbo].[KOK_NEWS] ([NEWS_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KOK_NEWS_IMAGE] CHECK CONSTRAINT [FK_KOK_NEWS_IMAGE_KOK_NEWS]
GO
USE [master]
GO
