<!---------ads_1--------------->
<section class="ads_1">
    <div class="ads_1-left"><a href=""><img src="Content/include/img/banner_ngang.jpg" alt="" /></a></div>
    <div class="ads_1-right"><a href=""><img src="Content/include/img/banner_ngang.jpg" alt="" /></a></div>
</section>
<!---------ads_1--------------->
<section class="contents">
    <div class="contents_left contents_lefts">
        <ul>
            <li>
                <div class="sp-img"><a href=""><img class="hvr-grow" src="Content/include/img/img.jpg" alt=""></a></div>
                <h5 class="sp-name"><a href="">Bánh tráng Trung Hiếu</a></h5>
                <div class="sp-price">Giá: <span>100.000 đ</span></div>
                <div class="sp-detail">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                <button class="sp-viewmore hvr-float-shadow">Mua ngay</button>
            </li>
            <li>
                <div class="sp-img"><a href=""><img class="hvr-grow" src="Content/include/img/img.jpg" alt=""></a></div>
                <h5 class="sp-name"><a href="">Bánh tráng Trung Hiếu</a></h5>
                <div class="sp-price">Giá: <span>100.000 đ</span></div>
                <div class="sp-detail">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                <button class="sp-viewmore hvr-float-shadow">Mua ngay</button>
            </li>
            <li>
                <div class="sp-img"><a href=""><img class="hvr-grow" src="Content/include/img/img.jpg" alt=""></a></div>
                <h5 class="sp-name"><a href="">Bánh tráng Trung Hiếu</a></h5>
                <div class="sp-price">Giá: <span>100.000 đ</span></div>
                <div class="sp-detail">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                <button class="sp-viewmore hvr-float-shadow">Mua ngay</button>
            </li>
            <li>
                <div class="sp-img"><a href=""><img class="hvr-grow" src="Content/include/img/img.jpg" alt=""></a></div>
                <h5 class="sp-name"><a href="">Bánh tráng Trung Hiếu</a></h5>
                <div class="sp-price">Giá: <span>100.000 đ</span></div>
                <div class="sp-detail">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                <button class="sp-viewmore hvr-float-shadow">Mua ngay</button>
            </li>
            <li>
                <div class="sp-img"><a href=""><img class="hvr-grow" src="Content/include/img/img.jpg" alt=""></a></div>
                <h5 class="sp-name"><a href="">Bánh tráng Trung Hiếu</a></h5>
                <div class="sp-price">Giá: <span>100.000 đ</span></div>
                <div class="sp-detail">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                <button class="sp-viewmore hvr-float-shadow">Mua ngay</button>
            </li>
            <li>
                <div class="sp-img"><a href=""><img class="hvr-grow" src="Content/include/img/img.jpg" alt=""></a></div>
                <h5 class="sp-name"><a href="">Bánh tráng Trung Hiếu</a></h5>
                <div class="sp-price">Giá: <span>100.000 đ</span></div>
                <div class="sp-detail">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                <button class="sp-viewmore hvr-float-shadow">Mua ngay</button>
            </li>
        </ul>
    </div>
    <div class="contents_right">
        <div class="title-news">
            <h3><a href="">TIN TỨC</a></h3>
            <span><a href="">Xem thêm</a></span>
        </div>
        <ul>
            <li>
                <a href="">
                    <div class="tit-news">Du lịch sinh thái Củ Chi vào những ngày hè.</div>
                    <div class="img-news"><img class="hvr-grow" src="Content/include/img/img.jpg" alt="" /></div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="tit-news">Du lịch sinh thái Củ Chi vào những ngày hè.</div>
                    <div class="img-news"><img class="hvr-grow" src="Content/include/img/img.jpg" alt="" /></div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="tit-news">Du lịch sinh thái Củ Chi vào những ngày hè.</div>
                    <div class="img-news"><img class="hvr-grow" src="Content/include/img/img.jpg" alt="" /></div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="tit-news">Du lịch sinh thái Củ Chi vào những ngày hè.</div>
                    <div class="img-news"><img class="hvr-grow" src="Content/include/img/img.jpg" alt="" /></div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="tit-news">Du lịch sinh thái Củ Chi vào những ngày hè.</div>
                    <div class="img-news"><img class="hvr-grow" src="Content/include/img/img.jpg" alt="" /></div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="tit-news">Du lịch sinh thái Củ Chi vào những ngày hè.</div>
                    <div class="img-news"><img class="hvr-grow" src="Content/include/img/img.jpg" alt="" /></div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="tit-news">Du lịch sinh thái Củ Chi vào những ngày hè.</div>
                    <div class="img-news"><img src="Content/include/img/img.jpg" alt="" /></div>
                </a>
            </li>
        </ul>
    </div>
</section>