@model KoK_Source.Models.NewsModel

<!---------brc--------------->
<div class="container">
    <div class="brc">
        <ul class="breadcrumb">
            <li><a href="#">Trang Chủ</a> <span class="divider"></span></li>
            <li><a href="#">Sản phẩm</a> <span class="divider"></span></li>
            <li class="active">Bánh 1</li>
        </ul>
    </div>
    <section class="contents">
        <div class="contents_left">
            @Html.Raw(Model.POST_HTML)
        </div>
        <div class="contents_right">
            @Html.Partial("_sidebarPost", Model.ListPostsSidebar)
        </div>
        <div class="contents_lefts contents_lefts-splq">
            <div class="title-news">
                <h3><a href="">Bình luận</a></h3>
                <!--                    <span><a href="">Xem thêm</a></span>-->
            </div>
            <br>
        </div>
        <div class="contents_lefts contents_lefts-splq">
            @Html.Partial("_relatePost", Model.ListPostsRelate)
            
        </div>
    </section>

</div>	